@model AbsenderAPI.Models.UniversityModels.Diplome

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Diplome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Designation_Orientation" class="control-label"></label>
                <input asp-for="Designation_Orientation" class="form-control" />
                <span asp-validation-for="Designation_Orientation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation_Formation" class="control-label"></label>
                <input asp-for="Designation_Formation" class="form-control" />
                <span asp-validation-for="Designation_Formation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type_Cours" class="control-label"></label>
                <input asp-for="Type_Cours" class="form-control" />
                <span asp-validation-for="Type_Cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
