@model AbsenderAPI.Models.UniversityModels.Matiere

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Matiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Designation_Matiere" class="control-label"></label>
                <input asp-for="Designation_Matiere" class="form-control" />
                <span asp-validation-for="Designation_Matiere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coefficient" class="control-label"></label>
                <input asp-for="Coefficient" class="form-control" />
                <span asp-validation-for="Coefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Limite_Absence" class="control-label"></label>
                <input asp-for="Limite_Absence" class="form-control" />
                <span asp-validation-for="Limite_Absence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fk_Module" class="control-label"></label>
                <select asp-for="Fk_Module" class ="form-control" asp-items="ViewBag.Fk_Module"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
