@model AbsenderAPI.Models.UniversityModels.Filiere

@{
    ViewData["Title"] = "View1";
}

<h2>View1</h2>

<h4>Filiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TagFiliere" class="control-label"></label>
                <input asp-for="TagFiliere" class="form-control" />
                <span asp-validation-for="TagFiliere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationFiliere" class="control-label"></label>
                <input asp-for="DesignationFiliere" class="form-control" />
                <span asp-validation-for="DesignationFiliere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagOption" class="control-label"></label>
                <input asp-for="TagOption" class="form-control" />
                <span asp-validation-for="TagOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationOption" class="control-label"></label>
                <input asp-for="DesignationOption" class="form-control" />
                <span asp-validation-for="DesignationOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
